html,
body {
  margin: 0;
  padding: 0;
}
* {
  color: white;
  font-family: "Rowdies", sans-serif;
  font-weight: 300;
  font-style: normal;
}
body {
  background-color: #111d35;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.3125rem;
  padding-bottom: 0.1875rem;
  padding-left: 0.3125rem;
  padding-right: 0.3125rem;
  background-color: #171843;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}

.navbar-brand a {
  text-decoration: none;
}

.navbar-brand img {
  height: 3.125rem;
  transition: opacity 0.2s;
}
.navbar-brand img:hover {
  opacity: 0.65;
}

.navbar-search {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
}

.search-container {
  position: relative;
  display: inline-block;
}

.navbar-search input {
  height: 3rem;
  background-color: #2b2c6d;
  padding: 0.3125rem 3.125rem 0.3125rem 0.625rem;
  border: 0.1875rem solid #171843;
  border-radius: 0.5rem;
  width: 25vw;
  color: white;
  box-sizing: border-box;
}

.navbar-search .search-btn {
  position: absolute;
  right: 0.625rem;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.navbar-search .search-btn img {
  height: 1.875rem;
  transition: opacity 0.2s;
}

.navbar-search .search-btn:hover img {
  opacity: 0.65;
}

.navbar-buttons a {
  text-decoration: none;
  margin-left: 0.3125rem;
}

.navbar-buttons img {
  height: 3.125rem;
  transition: opacity 0.2s;
  cursor: default;
}

.navbar-buttons a:hover img {
  opacity: 0.65;
  cursor: pointer;
}

/* Mobile Navbar */
.mobile-menu {
  display: none;
}

.hamburger {
  display: none;
}

@media (max-width: 768px) {
  .navbar-search,
  .navbar-buttons {
    display: none;
  }

  .hamburger {
    display: block;
    background: none;
    border: none;
    color: white;
    font-size: 1.875rem;
    cursor: pointer;
    margin-left: auto;
  }

  .mobile-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 95%;
    background-color: #171843;
    padding: 0.625rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 500;
  }

  .mobile-menu.open {
    display: block;
  }

  .mobile-search {
    margin-bottom: 0.625rem;
  }
  .mobile-search input {
    width: 100px;
  }

  .mobile-buttons {
    display: flex;
    flex-direction: column;
  }

  .mobile-button {
    display: flex;
    align-items: center;
    margin-bottom: 0.625rem;
  }

  .mobile-button a {
    text-decoration: none;
    margin-right: 0.625rem;
  }

  .mobile-button img {
    height: 2.5rem;
    cursor: default;
  }

  .mobile-button img:hover {
    cursor: cursor;
  }

  .mobile-button span {
    font-size: 1rem;
  }

  .mobile-search .search-container {
    position: relative;
    display: inline-block;
  }

  .mobile-search input {
    height: 3rem;
    background-color: #2b2c6d;
    padding: 0.3125rem 3.125rem 0.3125rem 0.625rem;
    border: 0.1875rem solid #171843;
    border-radius: 0.5rem;
    width: 100%;
    color: white;
    box-sizing: border-box;
  }

  .mobile-search .search-btn {
    position: absolute;
    right: 0.625rem;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }

  .mobile-search .search-btn img {
    height: 1.875rem;
  }

  .mobile-buttons .mobile-button a {
    text-decoration: none;
    margin-left: 0.3125rem;
  }

  .mobile-buttons .mobile-button img {
    height: 3.125rem;
    transition: opacity 0.2s;
  }

  .mobile-buttons .mobile-button span {
    color: white;
    font-family: "Rowdies", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
}

.saving-animation {
  animation: pulse 1.5s ease-in-out infinite;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-group label {
  color: #b0b0b0;
}

.form-group input[type="email"],
.form-group input[type="password"],
.form-group input[type="text"],
.form-group input[type="username"],
.form-group textarea {
  padding: 12px;
  border: 2px solid #171843;
  border-radius: 8px;
  font-size: 16px;
  transition: border-color 0.3s ease;
  background-color: #2b2c6d;
  resize: none;
}

.form-group input[type="email"]:focus,
.form-group input[type="password"]:focus,
.form-group input[type="text"]:focus,
.form-group input[type="username"]:focus,
.form-group textarea:focus {
  border-color: #27285f;
  outline: none;
}

.lorm-group input[type="email"]:blur,
.form-group input[type="password"]:blur,
.form-group input[type="text"]:blur,
.form-group input[type="username"]:blur,
.form-group textarea:blur {
  border-color: #ddd;
}

.form-group input[type="email"].error,
.form-group input[type="password"].error,
.form-group input[type="username"].error,
.form-group textarea.error {
  border: 2px solid red !important;
}
