.profile-container {
  padding: 20px;
}

.profile-avatar {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 25%;
  margin: 0 auto;
  border: 3px solid #fff;
}

.profile-avatar.grey {
  background-color: #808080;
}

.profile-avatar.red {
  background-color: #ff0000;
}

.profile-avatar.orange {
  background-color: #ffa500;
}

.profile-avatar.yellow {
  background-color: #ffff00;
}

.profile-avatar.green {
  background-color: #008000;
}

.profile-avatar.blue {
  background-color: #0000ff;
}

.profile-avatar.purple {
  background-color: #800080;
}

.profile-avatar.white {
  background-color: #ffffff;
}

.profile-avatar.black {
  background-color: #000000;
}

.profile-avatar img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-avatar .level-image {
  position: absolute;
  top: 95px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
  z-index: 500;
}

.profile-details {
  text-align: center;
  margin-top: 20px;
}

.profile-details h2 {
  margin-bottom: 10px;
  color: #fff;
}

.profile-details p {
  color: #b3b3b3;
  margin-bottom: 10px;
}

.profile-badges {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

.profile-badges .badge-image {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease;
}

.profile-badges .badge-image:hover {
  transform: scale(1.1);
}
