<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Arcade{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
    />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap"
      rel="stylesheet"
    />

    <!-- CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/base.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/modals.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/cards.css') }}"
    />
    {% block styles %}{% endblock %}
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarToggler"
          aria-controls="navbarToggler"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">
          <img
            src="/static/images/ArcadeLogo.png"
            alt="Bootstrap"
            height="24"
          />
        </a>
        <div class="collapse navbar-collapse" id="navbarToggler">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/develop"
                >Develop</a
              >
            </li>
            <li class="nav-item d-lg-none">
              <a class="nav-link" href="/profile">Profile</a>
            </li>
          </ul>
          <div class="d-flex align-items-center">
            <form class="d-flex me-3" role="search">
              <div class="input-group">
                <input
                  type="search"
                  class="form-control"
                  placeholder="Search games..."
                  aria-label="Search"
                />
                <button class="btn" type="submit">
                  <i class="bi bi-search"></i>
                </button>
              </div>
            </form>
            <a href="/profile" class="btn p-0 d-none d-lg-block">
              <img
                src="/static/images/ProfileBtn.png"
                alt="Profile"
                style="width: 40px; height: 40px; object-fit: cover"
              />
            </a>
          </div>
        </div>
      </div>
    </nav>

    <!-- Toasts -->
    <div
      id="toast-container"
      class="position-fixed bottom-0 end-0 p-3"
      style="z-index: 10800"
      aria-live="polite"
      aria-atomic="true"
    ></div>

    {% block content %}{% endblock %}

    <!-- Scripts -->
    <script>
      const WEBSITE_URL = "{{ WEBSITE }}";
      const LOGGEDIN = "{{ LOGGEDIN }}";
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
    <script src="{{ url_for('static', filename='js/modals.js') }}"></script>
    <script src="{{ url_for('static', filename='js/toasts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/parameters.js') }}"></script>

    {% block scripts %}{% endblock %}
  </body>
</html>
